body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
    /*monospace;*/
}


body{
    /*padding: 50px;*/
}
@media (max-width: 978px) {
    body {
        padding:0;
    }
}

/*a{*/
/*    color: #00B7FF;*/
/*    text-decoration:none !important;*/
/*}*/

h1,h2,h3,h4{
    font-family: 'Kaushan Script', cursive;
}

.myborder {
    border-radius: 1.1rem;
}

.image-background {
    background-image: url('https://i.natgeofe.com/n/d305ca31-b15c-4c12-8a5d-2ee80f532f6f/00000163-92fc-dc54-a7e7-b2fc87730000_square.jpg');
    background-size: cover;
}

.image-background-login {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKoqjBmkUUzwyDarfmajQIzVd4ckp8a9D6fQ&usqp=CAU');
    background-size: cover;
}

.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #e3f2fd;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.mybtn{
    border-radius:50px;
}

.mydiv{
    /*height: 800px;*/
    height: 94%;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #e3f2fd;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.imgGif {
    width: 50px;
    height: auto;
    margin-left: 42%;
    margin-right: auto;
}

.imgLogo{
    /*float: right;*/
    width: 30px;
    height: auto;
    margin-right: 13px;
}

.backInfo{
    background-color: #00ACC1;
}
.backInfo:hover {
    background-color:  #0097A7;
}

.btnDelete {
    /*border-radius: 25px;*/
    margin-right: 7px;
}

.backColorSavedImg {
    background-color: #9ec9f3;
}
.backColorSavedImg:hover {
    background-color: #7cb1e6;
}

.left-text-align{
    text-align:left;
    padding-left:20px
}

.right-text-align{
    text-align:right;
    padding-left:20px;
}

.image {
    /*width: 800px; height: 180px;*/
    margin-right: 50px;
    margin-left: 50px;
}

.my-grey{
    background-color : grey;
    color : white ;
    border-color: black;
    border-width: 2px;
}

.btn-grey{
    background-color : grey;
    color : white !important;
    border-color: black;
    border-width: 2px;
}

.btn-grey:hover{
    background-color: #e3f2fd;
    color:#282c34 !important;
}


.btn-grey:focus {
    /*  background-color: #e3f2fd;
      background-color:yellow;*/
    background-color: #9ec9f3 !important;
    color:#282c34;
}


.myinput{
    margin: 5px;
}
.myinput:hover{
    background-color: #9ec9f3;
}

.backLightBlue {
    background-color: #e3f2fd;
    /*background-color: #9ec9f3;*/
}

.maincard{
    background-color: coral; !important;
}
.mycard{
    /*color: burlywood;*/

}
.mycard:hover {
    background-color: lightcyan;
}


.myborder-5 {}
.myborder-5:hover {
    border-color: black;
    border-width: 3px;
}

/*.grid-container-element {*/
/*    box-sizing: border-box;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;*/
/*    grid-gap: 20px;*/
/*    !*border: 1px solid black;*!*/
/*    width: 50%;*/
/*}*/
/*.grid-child-element {*/
/*    margin: 2px;*/
/*    !*border: 1px solid red;*!*/
/*}*/

[class*="col-"] {
    width: 100%;
}

/*.image-edit-book {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*}*/

@media only screen and (max-width: 600px) {
    .grid-container-element {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;
        width: 50%;
    }
    .grid-child-element {
        margin: 2px;
    }

    .card-size {
        width: 18rem;
    }

    .img-book{
        width: 18rem;
        height: auto;
    }

    .img-book-admin{
        width: 2rem;
        height: auto;
    }

    .image-edit-book {
        width: 3rem;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .grid-container-element {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;
        width: 50%;
    }
    .grid-child-element {
        margin: 2px;
    }

    .card-size {
        width: 18rem;
    }

    .img-book{
        width: 18rem;
        height: auto;
    }

    .img-book-admin{
        width: 3rem;
        height: auto;
    }

    .image-edit-book {
        width: 6rem;
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid-container-element {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        /*border: 1px solid black;*/
        width: 50%;
    }
    .grid-child-element {
        margin: 2px;
        /*border: 1px solid red;*/
    }

    .card-size {
        width: 14rem;
    }

    .img-book{
        width: 14rem;
        height: auto;
    }

    .img-book-admin{
        width: 6rem;
        height: auto;
    }

    .image-edit-book {
        width: 10rem;
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid-container-element {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-gap: 20px;
        /*border: 1px solid black;*/
        width: 50%;
    }
    .grid-child-element {
        margin: 2px;
        /*border: 1px solid red;*/
    }

    .card-size {
        width: 12rem;
    }

    .img-book{
        width: 12rem;
        height: auto;
    }

    .img-book-admin{
        width: 6rem;
        height: auto;
    }

    .image-edit-book {
        width: 12rem;
        height: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container-element {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-gap: 20px;
        /*border: 1px solid black;*/
        width: 50%;
    }
    .grid-child-element {
        margin: 2px;
        /*border: 1px solid red;*/
    }

    .card-size {
        width: 12rem;
    }

    .img-book{
        width: 12rem;
        height: auto;
    }

    .img-book-admin{
        width: 6rem;
        height: auto;
    }

    .image-edit-book {
        width: 15rem;
        height: auto;
    }
}

.my-navbar-toggler-icon {
    /*background-image: url("data:image/svg+xml;..");*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

form .error {
    color: #ff0000;
}

