<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="includes/header :: header"></head>

<body>
<div th:replace="includes/navbar-basket-purchase :: navbar-basket-purchase"></div>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-3 mt-4"></div>
        <div class="col-xl-6 col-md-6">
            <h1 class="my-5">Thank you for your purchase!</h1>

            <h4 class="mb-4" th:inline="text" >The Total Amount of the payement is:
                <b class="text-info">[[${totalAmountPay}]]</b> </h4>
<!--            <h4 th:text="'The Total Amount of the payement is: ' + ${totalAmountPay}"></h4>-->

            <form action="#" th:action="@{/basketshopping}" method="post">
                <input type="hidden" name="basketBooksItems">
                <span class="mr-2 mt-3">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </span>
                <input class="btn btn-grey" type="submit" value="Continue Shopping "/>
            </form>
            <div class="text-center">
                <a class="btn btn-grey my-3" href="/">Back To Home Page</a>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mt-4"></div>

    </div>
</div>
</div>
</body>

<div th:replace="includes/footer :: footer"></div>
</html>