<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
<!--        <span th:text="'Hello, ' + ${message}"></span>-->

        <div th:switch="${topFiveOnSale}" >
            <h2 th:case="null">No books yet!</h2>
            <div th:case="*">
                <h2 class="my-2">Books on Sale:</h2>

                <div class="grid-container-element ">
                <div th:each="book : ${topFiveOnSale}"
                     class="card  border border-5 rounded-3 myborder-5 mb-2 grid-child-element card-size" >
                    <img th:src="${book.imageSrc}"class="card-img-top img-book" alt="...">
                    <div class="card-body mycard">
                        <p class="card-text" th:text="'Name: ' + ${book.name}"></p>
                        <p class="card-text" th:text="'Quantity: ' + ${book.quantity}"></p>
                        <p class="card-text" th:text="'Price: ' + ${book.price}"></p>
                        <p class="card-text text-success" th:text="'Discount: ' + ${book.discount}"></p>
                        <form action="#" th:action="@{/add-to-basket}" th:object="${book}" method="post">
                            <input type="hidden" name="id" th:value="${book.id}">
                            <input class="btn btn-info" type="submit" value="Add To Basket"/>
                        </form>
                    </div>
                </div>
                </div>
            </div>

            <!--            <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>-->
        </div>

</div>
</body>

<div th:replace="footer :: footer"></div>

</html>