<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg backLightBlue">
        <div class="container-fluid">
        <span><img class="imgLogo"
                   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8YhKL56P1qXuIhjeZOwZmXOCxyMTx5raQBQ&usqp=CAU"></span>
            <h3 class="navbar-brand"><b><i>My Book Store</i></b></h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon my-navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="nav-item" >
<!--                        <div sec:authorize="isAuthenticated()">-->
                        <a class="nav-link" href="admin" th:href="@{/admin}">Administrator</a>
<!--                        </div>-->
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control  myinput mybtn mr-2 ml-3" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-primary mybtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <a class="nav-link disabled right-text-align mr-auto" href="#" tabindex="-1" aria-disabled="true"></a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h5 class="nav-link mr-auto pb-2" tabindex="-1"
                            th:text="${countBasketItems}"></h5>
                    </li>
                    <li class="nav-item">
                        <form action="#" th:action="@{/basketshopping}" method="post" id="form-id">
                            <input type="hidden" name="id">
                            <span class="mr-2 mt-3">
                               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </span>
                            <input class="btn btn-grey" type="submit" value="Show Basket "/>
                        </form>
                    </li>
                </ul>

            </div>
        </div>

    </nav>

    <nav class="navbar navbar-expand-lg bg-primary "></nav>
    <nav class="navbar navbar-expand-lg bg-primary "></nav>

</div>
